In [1]:
import pandas as pd
import numpy as np

Housing Data
-----------------

Redfin Housing Data:

https://www.redfin.com/blog/data-center

In [5]:
location='C://Users/pmlef/Documents/Python_work/Python_for_Data_Analysis/Housing/'
housing=pd.read_csv(location+'housing.csv',delimiter=',')
housing.head()

,Avg Sale To List,Avg Sale To List Mom,Avg Sale To List Yoy,Homes Sold,Homes Sold Mom,Homes Sold Yoy,Inventory,Inventory Mom,Inventory Yoy,Median Dom,...,Median Dom Yoy,Median Sale Price,Median Sale Price Mom,Median Sale Price Yoy,New Listings,New Listings Mom,New Listings Yoy,Period End,Property Type,Region
0,0.985435,-0.50%,-0.10%,8,14.30%,14.30%,9.0,50.00%,28.60%,44.5,...,20.0,$398K,-7.60%,-33.20%,11,10.00%,-15.40%,4/30/2018,All Residential,"Portland, OR - Sullivan's Gulch"
1,0.984077,-0.70%,-0.40%,13,-7.10%,333.30%,11.0,-26.70%,-26.70%,18.0,...,0.5,$156K,-0.50%,9.90%,11,-8.30%,120.00%,12/31/2012,All Residential,"Portland, OR - Lents-Powellhurst-Gilbert"
2,0.987811,1.00%,0.50%,28,16.70%,154.50%,5.0,-54.50%,-68.80%,33.0,...,-30.0,$271K,8.10%,-1.60%,10,-54.50%,0.00%,12/31/2012,All Residential,"Portland, OR - South Tabor"
3,1.042150,1.80%,4.60%,24,20.00%,33.30%,10.0,-9.10%,-23.10%,17.0,...,-6.0,$248K,1.00%,11.40%,25,4.20%,92.30%,7/31/2015,All Residential,"Portland, OR - Parkrose"
4,1.080477,5.40%,9.30%,7,0.00%,-12.50%,1.0,0.00%,-92.90%,5.0,...,-2.0,$550K,13.40%,69.00%,6,-25.00%,-78.60%,7/31/2015,All Residential,"Portland, OR - Eliot"

In [6]:
housing.sort_values(by='Period End',ascending=False).head()

,Avg Sale To List,Avg Sale To List Mom,Avg Sale To List Yoy,Homes Sold,Homes Sold Mom,Homes Sold Yoy,Inventory,Inventory Mom,Inventory Yoy,Median Dom,...,Median Dom Yoy,Median Sale Price,Median Sale Price Mom,Median Sale Price Yoy,New Listings,New Listings Mom,New Listings Yoy,Period End,Property Type,Region
3108,0.996688,0.70%,0.00%,62,-1.60%,-11.40%,45.0,-8.20%,-16.70%,25.0,...,10.0,$387K,-1.90%,6.80%,57,-14.90%,-23.00%,9/30/2017,All Residential,"Portland, OR - Pleasant Valley"
7115,0.991426,-0.40%,-2.80%,12,33.30%,20.00%,9.0,-30.80%,28.60%,34.5,...,30.5,$487K,-8.90%,7.80%,19,11.80%,58.30%,9/30/2017,All Residential,"Portland, OR - South Burlingame"
4757,1.010670,-1.10%,-1.50%,28,-22.20%,-17.60%,25.0,-26.50%,47.10%,9.0,...,2.0,$475K,2.70%,2.50%,55,-3.50%,66.70%,9/30/2017,All Residential,"Portland, OR - Overlook"
135,1.017708,1.00%,-0.40%,13,-7.10%,44.40%,7.0,-50.00%,0.00%,5.5,...,-5.5,$605K,7.80%,16.30%,8,-57.90%,-42.90%,9/30/2017,All Residential,"Portland, OR - Eliot"
6420,0.994858,-1.40%,0.00%,25,19.00%,0.00%,17.0,-10.50%,54.50%,18.0,...,-2.0,$805K,2.00%,24.00%,27,-22.90%,35.00%,9/30/2017,All Residential,"Portland, OR - Laurelhurst"

In [7]:
housing['Period End'].min()

'1/31/2012'

In [8]:
housing['Period End'].max()

'9/30/2017'

In [23]:
housing['Region'].unique()

array(["Portland, OR - Sullivan's Gulch",
       'Portland, OR - Lents-Powellhurst-Gilbert',
       'Portland, OR - South Tabor', 'Portland, OR - Parkrose',
       'Portland, OR - Eliot', 'Portland, OR - Kerns',
       'Portland, OR - Argay', 'Portland, OR - Multnomah Village',
       'Portland, OR - Lents', 'Portland, OR - North Tabor',
       'Portland, OR - Hillside', 'Portland, OR - Cully',
       'Portland, OR metro area', 'Portland, OR - Brentwood',
       'Portland, OR - Downtown Portland', 'Portland, OR - King',
       'Portland, OR - Cathedral Park', 'Portland, OR - Grant Park',
       'Portland, OR - Center', 'Portland, OR - Eastmoreland',
       'Portland, OR - Brooklyn', 'Portland, OR - Brentwood-Darlington',
       'Portland, OR - Arnold Creek', 'Portland, OR - Russell',
       'Portland, OR - West Portland Park', 'Portland, OR - Laurelhurst',
       'Portland, OR - Hayden Island', 'Portland, OR',
       'Portland, OR - Humboldt', 'Portland, OR - Madison South',
       'Portland, OR - Collins View', 'Portland, OR - Northwest District',
       'Portland, OR - Woodlawn', 'Portland, OR - Hawthorne District',
       'Portland, OR - Wilkes', 'Portland, OR - Sunnyside',
       'Portland, OR - Woodstock', 'Portland, OR - Markham',
       'Portland, OR - Sylvan-Highlands', 'Portland, OR - Buckman',
       'Portland, OR - Ashcreek', 'Portland, OR - Crestwood',
       'Portland, OR - Far Southwest', 'Portland, OR - Hayhurst',
       'Portland, OR - Richmond', 'Portland, OR - Marshall Park',
       'Portland, OR - Corbett', 'Portland, OR - Southwest Hills',
       'Portland, OR - Mill Park', 'Portland, OR - Glenfair',
       'Portland, OR - Southgate', 'Portland, OR - Forest Highlands',
       'Portland, OR - Piedmont', 'Portland, OR - Goose Hollow',
       'Portland, OR - Dunthorpe', 'Portland, OR - Maplewood',
       'Portland, OR - North Portland', 'Portland, OR - East Columbia',
       'Portland, OR - Bridlemile', 'Portland, OR - Vernon',
       'Portland, OR - Alameda',
       'Portland, OR - Central Northeast Portland',
       'Portland, OR - Hazelwood', 'Portland, OR - Rose City Park',
       'Portland, OR - South Burlingame', 'Portland, OR - Centennial',
       'Portland, OR - Kenton', 'Portland, OR - Pleasant Valley',
       'Portland, OR - Foster-Powell', 'Portland, OR - Hosford-Abernethy',
       'Portland, OR - Boise', 'Portland, OR - Parkrose Heights',
       'Portland, OR - Northeast Portland', 'Portland, OR - Sumner',
       'Portland, OR - Montavilla', 'Portland, OR - Roseway',
       'Portland, OR - Beaumont-Wilshire',
       'Portland, OR - Neighbors West-Northwest',
       'Portland, OR - Concordia', 'Portland, OR - Overlook',
       'Portland, OR - Mount Scott-Arleta',
       'Portland, OR - Southeast Uplift', 'Portland, OR - Irvington',
       'Portland, OR - St. Johns', 'Portland, OR - Mount Tabor',
       'Portland, OR - Hillsdale', 'Portland, OR - Forest Park',
       'Portland, OR - Creston-Kenilworth',
       'Portland, OR - University Park', 'Portland, OR - Arbor Lodge',
       'Portland, OR - Powellhurst-Gilbert', 'Portland, OR - Sabin',
       'Portland, OR - Lair Hill', 'Portland, OR - Reed',
       'Portland, OR - Homestead', 'Portland, OR - East Portland',
       'Portland, OR - Westmoreland'], dtype=object)

911 Calls
-------------

In [16]:
location='C://Users/pmlef/Documents/Python_work/Python_for_Data_Analysis/Trimet/'
trimCalls=pd.read_csv(location+'trimet-calls.csv',delimiter=',')
trimCalls.head()

,Unnamed: 0,Call Number,Call Category,Call Group,Neighborhood,Report Date,Response Time (sec),Time In Queue (sec),Travel Time (sec)
0,0,2296401412,TriMet,Disorder,Hosford-Abernethy,7/4/2017 8:33:30 PM,42.0,42.0,0.0
1,1,2392175033,TriMet,Disorder,Hosford-Abernethy,12/18/2017 7:13:27 PM,692.0,49.0,643.0
2,2,2570595016,TriMet,Disorder,Hosford-Abernethy,4/8/2018 10:25:38 AM,2193.0,1156.0,1037.0
3,3,2188786224,TriMet,Disorder,Powellhurst-Gilbert,9/2/2017 8:55:42 AM,1140.0,1003.0,137.0
4,4,2309187422,TriMet,Disorder,Foster-Powell,8/5/2017 12:03:42 PM,797.0,90.0,707.0

In [19]:
trimCalls.sort_values(by='Report Date',ascending=False).head()

,Unnamed: 0,Call Number,Call Category,Call Group,Neighborhood,Report Date,Response Time (sec),Time In Queue (sec),Travel Time (sec)
3742,3742,2205590944,TriMet,Disorder,Lloyd,9/9/2017 7:17:03 PM,462.0,54.0,408.0
3815,3815,2205507216,TriMet,Disorder,Sullivan's Gulch,9/9/2017 6:39:11 PM,1150.0,811.0,339.0
122,122,2319828442,TriMet,Disorder,Downtown,9/9/2017 2:19:42 PM,212.0,25.0,187.0
3109,3109,2319836114,TriMet,Disorder,Ardenwald,9/9/2017 1:06:58 PM,1421.0,1421.0,0.0
3408,3408,2319804332,TriMet,Disorder,Cully,9/9/2017 12:16:35 AM,389.0,12.0,377.0

In [20]:
trimCalls['Report Date'].min()

'1/1/2018 10:24:42 AM'

In [21]:
trimCalls['Report Date'].max()

'9/9/2017 7:17:03 PM'

In [22]:
trimCalls['Neighborhood'].unique()

array(['Hosford-Abernethy', 'Powellhurst-Gilbert', 'Foster-Powell',
       'Piedmont', 'Pearl', 'Downtown', 'West Portland Park',
       'Buckman West', 'Overlook', 'Hollywood', 'Brooklyn',
       'Old Town/Chinatown', nan, 'Sumner', 'Lloyd', 'Buckman East',
       'Richmond', 'Montavilla', 'Rose City Park', 'Madison South',
       'Eliot', 'Hazelwood', 'Woodstock', 'St Johns', 'Sellwood-Moreland',
       'University Park', 'Concordia', 'Wilkes', 'Northwest Industrial',
       'Irvington', 'Goose Hollow', 'Northwest', 'Cully', 'Kenton',
       'Centennial', 'Kerns', 'Parkrose', 'Lents', "Sullivan's Gulch",
       'Sunnyside', 'Creston-Kenilworth', 'Hillsdale', 'Laurelhurst',
       'Cathedral Park', 'Mt Tabor', 'Reed', 'North Tabor', 'Portsmouth',
       'South Tabor', 'Arbor Lodge', 'Mill Park', 'Homestead',
       'Hayden Island', 'King', 'Beaumont-Wilshire', 'South Portland',
       'Woodlawn', 'Humboldt', 'Vernon', 'Multnomah', 'Mt Scott-Arleta',
       'Arlington Heights', 'Roseway', 'Eastmoreland', 'Grant Park',
       'Southwest Hills', 'Brentwood-Darlington', 'Parkrose Heights',
       'Woodland Park', 'Linnton', 'Ashcreek', 'East Columbia',
       'Far Southwest', 'Bridlemile', 'Boise', 'Maplewood', 'Glenfair',
       'Hillside', 'Sylvan-Highlands', 'Forest Park', 'Ardenwald', 'Argay'], dtype=object)

Trimet Events
---------------

In [11]:
location='C://Users/pmlef/Documents/Python_work/Python_for_Data_Analysis/Trimet/'
trimEventMonth=pd.read_csv(location+'events_month.csv',delimiter=',')
trimEventMonth.head()

,bearing,delay,event_timestamp,lastLocID,lastStopSeq,nextLocID,nextStopSeq,tripID,vehicle_id,vehicle_location_latitude,vehicle_location_longitude
0,306,-430,2017-01-01 08:00:03,9819,24,9827,25,6999629,251,45.502307,-122.836712
1,20,-113,2017-01-01 08:00:04,13720,1,13721,2,7003700,405,45.439829,-122.640634
2,91,-17,2017-01-01 08:00:22,9848,1,9846,2,6998908,306,45.521351,-122.986448
3,358,-56,2017-01-01 08:00:23,9299,6,7763,7,7000472,420,45.526400,-122.676568
4,98,-729,2017-01-01 08:00:23,8357,46,8359,47,6998905,118,45.501997,-122.419650

In [13]:
trimEventMonth.sort_values(by='event_timestamp',ascending=False).head()

,bearing,delay,event_timestamp,lastLocID,lastStopSeq,nextLocID,nextStopSeq,tripID,vehicle_id,vehicle_location_latitude,vehicle_location_longitude
164440,301,15,2017-01-31 23:59:59,8362,5,8363,6,7127635,312,45.516942,-122.462215
164439,306,2,2017-01-31 23:59:59,9819,36,9827,37,7127629,411,45.505379,-122.842342
164438,350,0,2017-01-31 23:59:58,13132,24,13132,1,7129550,314,45.436024,-122.567887
164437,352,-132,2017-01-31 23:59:58,11508,8,11509,9,7128192,417,45.538771,-122.674562
164436,201,-6,2017-01-31 23:59:57,9820,22,10117,23,7126629,116,45.518961,-122.692238

In [14]:
trimEventMonth['event_timestamp'].min()

'2017-01-01 08:00:03'

In [15]:
trimEventMonth['event_timestamp'].max()

'2017-01-31 23:59:59'

Trimet Vehicle
----------------

In [18]:
location='C://Users/pmlef/Documents/Python_work/Python_for_Data_Analysis/Trimet/'
trimVehicle=pd.read_csv(location+'vehicle-data-sample.csv',delimiter=',')
trimVehicle.head()

,Unnamed: 0,bearing,blockID,city,delay,device_id,direction,event_timestamp,expires,garage,...,signMessageLong,state,system,tripID,type,vehicle_id,vehicle_location_latitude,vehicle_location_longitude,vehicle_location_latitude.1,vehicle_location_longitude.1
0,0,147,9066,portland,-31,317,1,1483257600,2017-01-01T08:08:31,RUBY,...,MAX Orange Line to Milwaukie,oregon,trimet,7004120.0,rail,317,45.483499,-122.643220,45.483499,-122.643220
1,1,90,2037,portland,-294,2285,1,1483257602,2017-01-01T08:04:00,POWELL,...,20 Burnside/Stark to Gresham TC,oregon,trimet,6986803.0,bus,2285,45.519149,-122.491014,45.519149,-122.491014
2,2,0,3301,portland,0,2706,0,1483257602,2017-01-01T08:04:01,NaN,...,NaN,oregon,trimet,NaN,bus,2706,45.444867,-122.640800,45.444867,-122.640800
3,3,20,9069,portland,-113,413,0,1483257604,2017-01-01T08:07:53,RUBY,...,MAX Orange Line to City Center/Expo Center,oregon,trimet,7003700.0,rail,413,45.439829,-122.640634,45.439829,-122.640634
4,4,98,3502,portland,-81,2608,0,1483257605,2017-01-01T08:04:02,CENTER,...,35 Macadam to Oregon City TC,oregon,trimet,6988607.0,bus,2608,45.419220,-122.663502,45.419220,-122.663502

GeoCoding 
---------

**Example Data**

In [33]:
trimEventMonth[:1]

,bearing,delay,event_timestamp,lastLocID,lastStopSeq,nextLocID,nextStopSeq,tripID,vehicle_id,vehicle_location_latitude,vehicle_location_longitude
0,306,-430,2017-01-01 08:00:03,9819,24,9827,25,6999629,251,45.502307,-122.836712

The latitude and longitude of the 4th row of the dataset

In [67]:
trimEventMonth['vehicle_location_latitude'][3],trimEventMonth['vehicle_location_longitude'][3]

(45.526400000000002, -122.676568)

In [68]:
latitude=trimEventMonth['vehicle_location_latitude'][3]
longitude=trimEventMonth['vehicle_location_longitude'][3]
locString=(latitude,longitude)

In [69]:
from geopy.geocoders import Nominatim
geolocator = Nominatim()
location=geolocator.reverse(locString, timeout=10)
print(location.raw['address'])

{'house_number': '414', 'road': 'Northwest 6th Avenue', 'neighbourhood': 'Chinatown', 'suburb': 'Old Town', 'city': 'Portland', 'county': 'Multnomah County', 'state': 'Oregon', 'postcode': '97209', 'country': 'United States of America', 'country_code': 'us'}

See the keys in the dictionary

In [70]:
location.raw['address'].keys()

dict_keys(['house_number', 'road', 'neighbourhood', 'suburb', 'city', 'county', 'state', 'postcode', 'country', 'country_code'])

Indexing dictionary key (neighbourhood)

In [71]:
location.raw['address']['neighbourhood']

'Chinatown'

Indexing dictionary key (suburb)

In [65]:
location.raw['address']['suburb']

'Old Town'